<h1>Welcome to Jarvis</h1>
<h3>A Place For Answers</h3>
<%=render 'header', post: @question %>

<div>
  <div>
  <% @questions.each do |question| %>
    <div>
        <div><%= question.body %></div>
        <div><%= link_to 'Show', question %></div>
        <div><%= link_to 'Edit', edit_question_path(question) %></div>
        <%= link_to 'Delete', question, method: :delete, data: {confirm: 'Are you sure?'} %>
    </div>
  <% end %>
  </div>
</div>