<div class="container">
<body class="text-center">

<h1 class="h3 mb-3 font-weight-normal">Account Sign-up</h1>
<div class="col-4 container">
<%= form_with(model: @user, local: true) do |form| %>

    <%= form.label :name, class:"sr-only" %>
    <%= form.text_field :name, :placeholder => 'name', class:"form-control" %><br>

    <%= form.label :username, class:"sr-only" %>
    <%= form.text_field :username, :placeholder => 'username', class:"form-control" %><br>

    <%= form.label :email, class:"sr-only" %>
    <%= form.text_field :email, :placeholder => 'jarvis@jarvis.com', class:"form-control"%><br>
   
    <%= form.label :password, class:"sr-only" %>
    <%= form.password_field :password, :placeholder => 'password', class:"form-control" %><br>
 

    <%= form.label :password_confirmation, "Confirmation", class:"sr-only" %>
    <%= form.password_field :password_confirmation, :placeholder => 'password Confirmation', class:"form-control" %>
 


  <%= form.submit "Create My Account", class:"btn btn-lg btn-primary btn-block" %>
  <p class="mt-5 mb-3 text-muted">Jarvis &copy; 2018</p>
<% end %>
</div>

</body>
</div>


